.fondoheader{
    border-radius: 30px 30px 0 0;
    background-color: pink !important;
    /* background-image: url(IMG/Header.png); */
    margin: 0 !important;
    padding: 0 !important;
    height: 70px;
}

.fondofooter{
    border-radius: 0px 0px 30px 30px;
    background-color: pink !important;
    /* background-image: url(IMG/Header.png); */
    margin: 0 !important;
    padding: 0 !important;
    height: 70px;
}

bg-black {
    --bs-bg-opacity: 1;
    background-color: rgba(var(--bs-black-rgb),var(--bs-bg-opacity))!important;
}


/*
.gutterHead{
   margin: 0px;
} 
*/

.logohead{
    padding-left: 128px;
}

.menuhead{
    padding-right: 128px;
}

.banner{
    background-image: url(IMG/tamagotchi_banner.jpg);
    height: 67vh;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;

}

h1{
    font-family: 'Climate Crisis', cursive;
    font-size: 40pt;
    color: #788D81;
}

.titulo{
    padding-left: 110px;
    padding-top: 20px;
}

.headerblanco{
    color: white;
}

.imagen {
    width: 100%;
    height: 100%;
}

.opake{
    font-family: "opake", sans-serif;
font-weight: 900;
font-style: normal;
font-size: 18pt;
}

.paddingenmedio{
   
    padding-right: 10%;
    padding-left: 10%;
}

.landing_p {
    font-family: "brevier", sans-serif;
    font-weight: 400;
    font-style: normal;
}

.flotar{
    justify-content: center;
    align-items: center;
}

a{
    font-family: "brevier", sans-serif;
    font-weight: 400;
    font-style: normal;
    color:black;
}

.extrañas{
   background-image: url(IMG/extranias.jpg); 
    height: 55vh;
    background-repeat: no-repeat;
    background-size: 70%;
    background-position: center;
}

.footer{
    background-image: url(IMG/Footer.png);
   height: 80px;

}

.Juega{
    
    text-align: left;
    color: #788D81;
    height: 30vh;
}

.botonTam{
    width: 55%;
}


.container-verde{
    height: 60vh;
    background-color: #BDCCBF;
}

@media (max-width: 576px){
    .fondoheader{
        background-size:auto;
        background-repeat: no-repeat;
    }

    h1{
        font-size: 20pt;
        
    }

    .botonTam{
        width: 75%;
    }

    .extrañas{
        background-size: 100%;
    }

    .paddingenmedio{
    padding-top: 10%;
    padding-bottom: 10%;
    }
    
    .titulo{
        padding-left: 10px;
    }

   
    

}
